<aside class="bg-dark">
    <div class="row">
        <div class="call-to-action text-center mc-form">
            <form action="//soundsforhunger.us13.list-manage.com/subscribe/post?u=8ab122f7f1fbe4ea4a936c74b&amp;id=4ae81db91e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <h2>Get Updates from Sounds For Hunger!</h2>

                <div class="mc-field-group input-group">
                    <label for="mce-EMAIL">Email Address
                        <span class="asterisk">*</span>
                    </label>
                    <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>

                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8ab122f7f1fbe4ea4a936c74b_4ae81db91e" tabindex="-1" value=""></div>

                <input type="submit" value="Subscribe to mailing list!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-xl wow tada">
                <!-- <a href="#" class="btn btn-default btn-xl wow tada">Subscribe to mailing list!</a> -->
            </form>

            <!-- Begin MailChimp Signup Form -->
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
            <!--End mc_embed_signup-->
        </div>
    </div>
</aside>
