<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's End Hunger together!</h2>
                <hr class="light">
                <p class="text-faded">We are in the process of recruiting volunteer staff and gathering donations. These initial donations will be used to file the costly paperwork to establish “Sounds For Hunger” as a legal non-profit. Remaining funds will go toward the costs to host the festival, pay for fees, and schedule artists.</p>
                <a href="{{site.gofundme_link}}" class="btn btn-default btn-xl">Donate</a>
            </div>
        </div>
    </div>
</section>
