<section class="no-padding instagram" id="instagram">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- <h2 class="section-heading">Instagram</h2> -->
                <hr class="primary">
            </div>
        </div>
    </div>
    <!-- LightWidget WIDGET -->
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
    <iframe
        src="//lightwidget.com/widgets/054e87fd52fbd3e049329676cf0b8a5a8b3c0d6f.html"
        id="lightwidget_054e87fd52"
        name="lightwidget_054e87fd52"
        scrolling="no"
        allowtransparency="true"
        class="lightwidget-widget"
        style="width: 100%; border: 0; overflow: hidden;"></iframe>
</section>
